{deps, []}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               deprecated_function_calls,
               deprecated_functions]}.

{erl_opts, [debug_info,
            warnings_as_errors,
            {platform_define, "^[0-9]+", namespaced_types}]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]}
    ]}
]}.
